
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #278ab0;
    --color-success: #1dc690;
    --color-danger: #e53119;
    --color-warning: rgb(245, 233, 6);
    --color-danger-variant: #621f07;
    --color-white: #fff;
    --color-light: #eaeae0;
    --color-black: #000;
    --color-bg: #062155;
    --color-bg1: #345694;
    --color-bg2: #7790bc;
    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
    --transition: all 400ms ease;
}

main {
    position: relative;
    background-color: #1dc690;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.Synapse-logo {
    width: 100px;
}
::selection {
    background-color: #0b372dbb;
}
.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
}

section{
    padding: 6rem 0;
}
section h2{
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: var(--color-white);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
}

/*========================= Navigation Bar =========================*/
nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    top: 0;
    left: 0;
    padding: 0.9rem 0;
    z-index: 9999;
}

/*JS ka Jaadu*/
.window-scroll{
    background: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
    transition: var(--transition);

}
.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

nav ul button {
    background: transparent;
    background: var(--color-success);
    color: var(--color-danger-variant);
    font-size: 0.9rem;
    font-weight: 600;
    width: fit-content;
    height: fit-content;
    padding: 0.6rem 1rem;
    border: 1px solid var(--color-success);
    border-radius: 5px;
}

nav ul button:hover {
    color: var(--color-white);
    border-color: var(--color-danger-variant);
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav__menu a {
    font-size: 0.9rem;
    transition: var(--transition);
}
nav ul button a {
    all: unset;
}

.nav__menu a:hover {
    color: var(--color-bg2);
}
    /*========================= Navigation Bar =========================*/

.about__achievements{
    margin-top: 3rem;
    }

.about__achievements-container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}
.about__achievements-right > p {
    margin: 1.6rem 0 2.5rem;
}

.achievements__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.achievement__card{
    background: var(--color-bg1);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transition);
}

.achievement__card:hover{
    background: var(--color-bg2);
    box-shadow: 0 3rem 3rem rgba(0,0,0,0.3);
}

.achievement__icon{
    background: var(--color-danger);
    padding: 0.6rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.achievement__card:nth-child(2) 
.achievement__icon{
    background: var(--color-success);
}

.achievement__card:nth-child(3) 
.achievement__icon{
    background: var(--color-primary);
}

.achievement__card p{
    margin-top: 1rem;
}



.team{
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0,0,0,0.5);
}

.team__container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.team__member{
    padding:2rem;
    background: var(--color-bg2);
    border: 1px solid transparent;
    border-radius: 2rem;
    transition: var(--transition);

}

.team__member:hover{
    padding:2rem;
    background: transparent;
    border-color: var(--color-primary);
    
}
/*==============================Footer==============================*/
footer{
    background: var(--color-bg1);
    padding-top: 5rem;
    font-size: 0.9rem;
    padding-bottom: 0.9rem;

}

.footer__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}
.footer__container > div h4{
    margin-bottom: 1.2rem;

}

.footer__1 p{
    margin: 0 0 2rem;
}
footer ul li{
    margin-bottom: 0.7rem;
}

footer ul li a:hover{
    text-decoration: underline;
}

.footer__Socials{
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}
.footer__copyright{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 0.2rem;
    border-top: 1px solid var(--color-bg2);
}



/*======================================Responsive Design Less gooooo[Tablets]==========================================*/


@media screen and (max-width:1024px) {
    .container{
        width: var(--container-width-md);
    }
    


h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}
}