* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #278ab0;
    --color-success: #1dc690;
    --color-danger: #e53119;
    --color-warning: rgb(245, 233, 6);
    --color-danger-variant: #621f07;
    --color-white: #fff;
    --color-light: #eaeae0;
    --color-black: #000;
    --color-bg: #062155;
    --color-bg1: #345694;
    --color-bg2: #7790bc;
    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

.Synapse-logo {
    width: 100px;
}
::selection {
    background-color: #0b372dbb;
}
.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: var(--color-white);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
}

/*========================= Navigation Bar =========================*/
nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.9rem 0;
    z-index: 9999;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
}

nav .nav__container {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button:not(:nth-child(1)) {
    display: none;
}

nav ul button {
    background: transparent;
    background: var(--color-success);
    color: var(--color-danger-variant);
    font-size: 0.9rem;
    font-weight: 600;
    width: fit-content;
    height: fit-content;
    padding: 0.6rem 1rem;
    border: 1px solid var(--color-success);
    border-radius: 5px;
}

nav ul button:hover {
    color: var(--color-white);
    border-color: var(--color-danger-variant);
}

nav ul button:active {
    box-shadow: 0 0 20px 5px #4b665db7 inset;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav__menu a {
    font-size: 0.9rem;
    transition: all 300ms ease-in-out;
}
nav ul button a {
    all: unset;
}

.nav__menu a:hover {
    color: var(--color-bg2);
}
/*========================= Footer =========================*/

footer {
    width: 100%;
    height: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "follow-us social-links contact-us";
    justify-items: center;
}

#love a {
    display: inline-block;
    position: relative;
}

#love a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--color-bg);
    display: block;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: all 600ms ease-in-out;
}

#love:hover a::after {
    width: 100%;
    opacity: 1;
}

#follow-us {
    width: 50%;
    height: 100%;
}

#follow-us ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#follow-us ul li {
    width: 100%;
    font-size: 20px;
    transition: font-size 300ms ease-in-out;
}

#follow-us ul li:hover {
    font-size: 24px;
}
