*, *::before,*::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #278ab0;
    --color-success: #1dc690;
    --color-danger: #e53119;
    --color-warning: rgb(245, 233, 6);
    --color-danger-variant: #621f07;
    --color-white: #fff;
    --color-light: #eaeae0;
    --color-black: #000;
    --color-bg: #062155;
    --color-bg1: #345694;
    --color-bg2: #7790bc;
    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
    --transition: all 400ms ease;
}
main {
    position: relative;
    background-color: #f4f8f6;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
}
.Synapse-logo {
    color: #000;
    font-family:'sans-serif' ;
    width: 100px;
    text-align: center;
}
::selection {
    background-color: #0b372dbb;
}
.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}
.preloader{
    position: fixed;
    top: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 999999;
    background:#070707;
    width: 100%;
    height: 100vh;
}
.preloader:before{
    content: 'Loading';
    position: absolute;
    font-size: 12em;
    font-weight: 900;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.03);
}
.preloader.active{
    transform: translateY(-100vh);
    transition: ease-in-out 2s;
    transition-delay: 1s;
}
.counter{
    position: relative;
    color: #fff;
    font-size: 16em;
    font-weight: 700;
    z-index: 1;
}

.counter:after{
    content: '%';
    font-size: 0.5em;
}
.mide{
    opacity: 0;
    transition: 1s;
    pointer-events: none;
}

/*.loader{
    align-content: center;
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}
.loader::before, .loader::after{
    align-items: center;
    content: '';
    border: 1rem solid #ff5733;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}

.loader::before{
    animation-delay: .5s;
}
@keyframes loader {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: scale(1);
    }
}*/

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: rgb(255, 255, 255)
}

section{
    padding: 6rem 0;
}
section h2{
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: var(--color-white);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background: var(--color-black);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
}

/*========================= Navigation Bar =========================*/
nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    top: 0;
    padding: 0.9rem 0;
    z-index: 9999;
}
nav .nav__container {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

nav ul button {
    background: transparent;
    background: var(--color-success);
    color: var(--color-danger-variant);
    font-size: 0.9rem;
    font-weight: 600;
    width: fit-content;
    height: fit-content;
    padding: 0.6rem 1rem;
    border: 1px solid var(--color-success);
    border-radius: 5px;
}

nav ul button:hover {
    color: var(--color-warning);
    border-color: var(--color-danger-variant);
}

nav ul button:active {
    box-shadow: 0 0 20px 5px #4b665db7 inset;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav__menu a {
    font-size: 0.9rem;
    color: var(--color-black);
    font-size: 1.25rem;
    transition: var(--transition);
}
nav ul button a {
    all: unset;
}

.nav__menu a:hover {
    color: var(--color-bg2);
}
/*========================= Footer =========================*/



.parallax{
    pointer-events: none;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
    transform: translate(-50%, -50%);
}
.bg-img{
    pointer-events: none;
    position: absolute;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
    width: 194.44%;
    top: 1.86%;
    left: 50.69%;
    z-index: 1;
    transform: translate(-50%,-50%);
}
.fog-7{
    pointer-events: none;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
    position: absolute;
    z-index: 2;
    top: 37.7%;
    left: 70.8%;
    width: 132%; 
    transform: translate(-50%,-50%);
}
.mountain-10{
    pointer-events: none;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
    position: absolute;
    z-index: 3;
    top: calc(50% + 69px);
    width: 870px;
    left: calc(50% + 230px);
    transform: translate(-50%,-50%);
}
.fog-2 {
    pointer-events: none;
    position: absolute;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
    z-index: 4;
    top: calc(50% + 95px);
    left: calc(50% + 7px);
    width: 1833px;
    transform: translate(-50%, -50%);
}   

.mountain-9 {
    pointer-events: none;
    position: absolute;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
    z-index: 5;
    top: calc(50% + 119px); 
    width: 463px;
    left: calc(50% - 457px);
    transform: translate(-50%, -50%);
}

.mountain-8{
    pointer-events: none;
    position: absolute;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
    z-index: 6;
    top: calc(50% + 96px);
    width: 786px;
    left: calc(50% - 202px);
    transform: translate(-50%, -50%);
}

.fog-3{
    pointer-events: none;
    position: absolute;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
    z-index: 7;
    top: calc(50% + 171px);
    left: calc(50% + 29px);
    width: 449px;
    transform: translate(-50%, -50%);
}

.mountain-7
{   pointer-events: none;
    position: absolute;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
    z-index: 8;
    width: 515px;
    top: calc(50% + 134px);
    left: calc(50% + 305px);
    transform: translate(-50%, -50%);
}  
.text{
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
    position: absolute;
    z-index: 9;
    top: calc(60% - 130px);
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    pointer-events: auto;
    color: #ffffff;
}
.text h2{
    font-weight: 100;
    font-size: 4.5rem;
    text-align: center;
    line-height: 0.88;
}
.text h1{
    font-weight: 800;
    border-color: #000;
    z-index: 9;
    text-align: center;
    font-size: 8rem;
    line-height: 0.88;
}

.mountain-6{
    pointer-events: none;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
    position: absolute;
    z-index: 10;
    top: calc(50% + 86.5px);
    width: 383.5px;
    left: calc(50% + 590px);
    transform: translate(-50%, -50%);
}
.fog-4{
    pointer-events: none;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
    position: absolute;
    z-index: 11;
    top: calc(50% + 242px);
    left: calc(50% - 64px);
    width: 543px;
    transform: translate(-50%, -50%);
}

.mountain-5{
    pointer-events: none;
    position: absolute;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
    z-index: 12;
    top: calc(50% + 269px);
    width: 583px;
    left: calc(50% + 130px);
    transform: translate(-50%, -50%);
}

.fog-5{
    pointer-events: none;
    position: absolute;
    z-index: 13;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
    top: calc(50% + 149px);
    left: calc(50% - 28px);
    width: 1435px;
    transform: translate(-50%, -50%);
}

.mountain-4{
    pointer-events: none;
    position: absolute;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
    z-index: 14;
    top: calc(50% + 221px);
    width: 717px;
    left: calc(50% - 381.5px);
    transform: translate(-50%, -50%);
}

.mountain-3{
    pointer-events: none;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
    position: absolute;
    z-index: 15;
    top: calc(50% + 133px);
    left: calc(50% + 736px);
    width: 419px;
    transform: translate(-50%, -50%);
}

.fog-6{
    pointer-events: none;
    position: absolute;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
    z-index: 16;
    top: calc(50% + 177px);
    left: calc(50% - 30px);
    width: 1418px;
    transform: translate(-50%, -50%);
}
.mountain-2{
    pointer-events: none;
    position: absolute;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
    z-index: 17;
    top: calc(50% + 188px);
    left: calc(50% + 412px);
    width: 625px;
    transform: translate(-50%, -50%);
}
.mountain-1{
    pointer-events: none;
    position: absolute;
    z-index: 18;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
    top: calc(50% + 91.5px);
    left: calc(50% - 601px);
    width: 450px;
    transform: translate(-50%, -50%);
}
.sun-rays{
    pointer-events: none;
    position: absolute;
    z-index: 19;
    top: 0;
    right: 0;
    width: 595px;
    transform: translate(-50%, -50%);
}
.black-shadow {
    pointer-events: none;
    position: absolute;
    z-index: 20;
    bottom: 0;
    opacity: 0;
    width: 100%;
    transition: all 600ms ease-in-out;
}
.vignette{
    position: absolute;
    z-index: 100;
    pointer-events: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0)65%,rgba(0,0,0,0.7));
}
.fog-1{
    position: absolute;
    pointer-events: none;
    z-index: 21;
    top: calc(100% - 355px);
    left: 50%;
    width: 1600px;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
    transform: translate(-50%, -50%);
}

#follow-us {
    width: 50%;
    height: 100%;
}

#follow-us ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width:1100px) {
    html,main{
        width: 100%;
        height:100%;
        margin: 0;
        padding: 0;
        overflow-y: hidden;
    }
    .text h1{
        font-size: 5.8rem;
    }
    .text h2{
        font-size: 4.7rem;
    }
}
@media (max-width:725px) {
    .text h1{
        font-size: 5rem;
        line-height: 1.1;
    }
    .text h2{
        font-size: 4.1rem;
        line-height: 1.1;
    }
    .nav__container {
        padding: 0 1rem;
    }
    .Synapse-logo{
        width: 75px;
    }
    html,main{
        width: 100%;
        height:100%;
        margin: 0;
        padding: 0;
        overflow-y: hidden;
    }
    
    .bg-img{
        width: initial;
        height: 311.104%;
    }
}
@media (max-width:520px) {
    html,main{
        width: 100%;
        height:100%;
        margin: 0;
        padding: 0;
        overflow-y: hidden;
    }
    .text h1{
        font-size: 3.3rem;
        line-height: 1.1;
    }
    .text h2{
        font-size: 2.6rem;
        line-height: 1.1;
    }
    .nav__container {
        padding: 0 1rem;
    }
    .Synapse-logo{
        width: 75px;
    }
}

@media screen and (max-width:1024px) {
    .container{
        width: var(--container-width-md);
    }
    html,body{
        width: 100%;
        height:100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    


h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}


/*========================NAVBAR Responsive==========================*/
nav button{
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: var(--color-white);
    cursor: pointer;
}
nav button#close-menu-btn{
    display: none;
}
.nav__menu{
    position: fixed;
    top: 5rem;
    right:5%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    display: none ;
    gap: 0;
}

.nav__menu li{
    width: 100%;
    height: 5.8rem;
    animation: animateNavItems 400ms linear forwards;  
    transform-origin: top right;
    opacity: 0;
}

.nav__menu li:nth-child(2){
    animation-delay: 200ms;
}
.nav__menu li:nth-child(3){
    animation-delay: 300ms;
}
.nav__menu li:nth-child(4){
    animation-delay: 400ms;
}
.nav__menu li:nth-child(5){
    animation-delay: 500ms;
}


@keyframes animateNavItems {
    0%{
        transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);;
    }
    100%{
        transform: rotateZ(0deg) rotateX(0) scale(1);
        opacity: 1;
    }
    
}
.nav__menu li a{
    background: var(--color-primary);
    box-shadow: -4rem 6rem 10rem rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.nav__menu li a:hover{
    background-color: var(--color-bg2);
    color: var(--color-white);
}}

@media screen and (max-width:600px) {
    .container{
        width: var(--container-width-sm);
    }
/*==========================================Media Queries Phone==========================================*/
.nav__menu{
    right: 3%;
}}/*baaki ki resizing baad mein karna*/